
.wrapper{
	width: 1000px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
}
/*TOP*/
.top{
	display: inline-flex;
	margin: 22px 0px 0px 7px;
}
.circle{
	width: 21px;
	height: 21px;
	border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
	background-image: linear-gradient(to top, #206988, #114165 59%, #0c3256);
}
.phone{
	margin-left: 4px;
}
.top p{
	font-family: Arial, sans-serif;
	color: #5e696d;
	padding-left: 4px;
	font-size: 19px;
}
.form{
	width: 495px;
	height: 26px;
	display: inline-flex;
	margin-left: 15px;
	border-radius: 4px/3px;
	background-color: #b1bcc0;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	margin-top: -4px;
	
}
.form img{
	margin: 5px 5px 3px 7px;
}

.login,
.pass {
	width: 108px;
	height: 12px;
	padding-left: 1px;
	
	font-size: 11px;
	color: #97a2a6;
	margin: 3px 4px 0px 0px;
}
.pass{
	margin-right: 0px;
}
.submit{
	padding: 1px 4px 0px 4px;
	border: none;
	border-right: 1px solid #fff;
	background: none;
	color: #fff;
	font-size: 11px;
}
.form{
	position: relative;
}
.form a{
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}
.form .forget_pass{
	font-size: 12px;
	color: #bfbfbf;
	padding-left: 13px;
}
.line{
	height: 1px;
	width: 94px;
	background-color: #fff;
	position: absolute;
	top: 19px;
	right: 10px;
}
.top nav{
	width: 71px;
	height: 19px;
	
	border-radius: 10px/10px 10px 9px 9px;
	border: solid 1px #bdc4c7;
	margin-left: 17px;
	margin-top: -4px;
	padding: 1px 0px 0px 3px;
	box-shadow: 0px 0px 8px 0px rgba(188,195,198,1);
}
.top nav ul{
	display: inline-flex;
}
.top nav li{
	margin: 0px 5px 0px 4px;
}
.banner{
	margin-top: 10px;
	max-width: 100%
}

/*MENU*/

.menu{
	display: inline-flex;
	width: 910px;
	height: 32px;
	margin-top: 2px;
	border-radius: 5px/3px 3px 2px 2px;
	box-shadow: 2px 3px 5px rgba(0,0,0,.75);
	border: solid 1px #0d1642;
	background-image: linear-gradient(to top, #000, #576068);
}
.menu_left{
	padding: 0px 0px 0px 134px;
	margin-top: 8px;
}
.menu_left a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 10px 10px 0px 11px;
}
.pay{
	padding: 10px 10px 0px 11px;
}
.menu_left a:hover{
	padding: 2px 10px 0px 11px;
	border-radius: 12px/13px;
	background-color: #f60303;
	border: 1px solid #fff;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}
.menu_right{
	display: inline-flex;
	padding: 7px 0px 0px 59px;
}
.menu_right p{
	font-size: 11px;
	color: #929b9f;
	padding: 3px 0px 0px 6px;
	
}
.menu_right .quantity{
	padding: 3px 9px 0px 3px;
	font-family: Arial;
	font-size: 12px;
	color: #0d5a8f;
}
.menu_right .summ{
	padding: 4px 0px 0px 11px;
	font-family: Arial;
	font-size: 12px;
	color: #0d5a8f;
}
.search{
	display: inline-flex;
	margin: 12px 0px 0px 5px;
}
.search_auto{
	width: 413px;
	height: 132px;
	margin-right: 13px;
	border-radius: 18px 17px 17px 18px/17px;
	box-shadow: 3px 4px 5px rgba(104,104,104,.75);
	border: solid 1px #9c9c9d;


}
.search_tire{
	width: 191px;
	height: 135px;
	margin-right: 10px;
	border-radius: 17px/19px;
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
}
.search_rim{
	width: 266px;
	height: 132px;
	border-radius: 14px/18px 18px 17px 17px;
	box-shadow: 3px 4px 5px rgba(150,150,150,.75);
	border: solid 1px #9c9c9d;
}

/*MAIN*/

main{
	display: flex;
	margin: 13px 0px 0px 0px;
}

/*MAIN_LEFT*/
.main_left{
	width: 18%;
	margin-top: 4px;
}
.main_left .circle{
	margin-left: 2px;
	margin-top: 1px;
}
.mail_left p{
	padding: 5px;
}
.catalog{
	display: inline-flex;
	font-size: 12px;
	color: #114165;
	border-radius: 12px/12px 12px 13px 13px;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
	width: 179px;
	height: 22px;
	margin-bottom: 12px;
	padding: 1px 0px;
}
.file{
	margin: 3px 0px 0px 5px;
}
.catalog p{
	padding: 6px 0px 0px 4px;
	letter-spacing: 0.4px;
}
.container{
	border-radius: 11px/13px;
	border: solid 1px #79878d;
	padding: 2px 73px 2px 1px;
	display: inline-flex;
}
.left_circle,
.right_circle{
	width: 22px;
	height: 22px;
	border-radius: 11px 10px 10px 11px/11px 11px 10px 10px;
	background-image: linear-gradient(to top, #206988, #114165 59%, #0c3256);
	margin: 0px 0px 0px 4px;
	position: relative;
}
.white_circle
{
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 100%;
	margin-left: 5px;
	position: absolute;
	top: 5px;
}

.main_left h3,
.main_right h3{
	font-size: 14px;
	color: #114165;
	margin: 5px 0px 0px 2px;
}

.main_left a{
	color: #465961;
	font-size: 13px;
	text-decoration: none;
	background: url(../img/dot.png) no-repeat 0 4px;
	margin-left: 36px;
	padding-left: 10px;
	line-height: 26px;
	
}
.main_left a:hover{
	text-decoration: underline;
	font: italic bold 14px Arial;
	color: #0c3256;
	background: url(../img/dot2.png) no-repeat 0 4px;
	margin-left: 36px;
	padding-left: 10px;
	line-height: 26px;
}
.rim{
	margin-top: -4px;
}
.bolt{
	margin-top: -5px; 
}

/*MAIN CENTER*/
.main_center{
	width: 47%;
	padding: 13px 36px 49px 24px;
	border-radius: 3px/2px 2px 3px 3px;
	background-image: linear-gradient(to top, rgba(35,75,93,.49), rgba(201,207,209,.49));
	margin-left: 10px;
}
.first_line,
.second_line,
.third_line{
	display: inline-flex;
}
.main_center h3{
	font-size: 15px;
	color: #206988;
	font-weight: bolder;
	margin-left: 33px;
}
.frame a{
	text-decoration: none;
}
figcaption{
	color: #114165;
	padding: 6px 0px 0px 6px;
	font: italic bold 16px Arial;
}
.Nokian_price{
	padding-left: 0px;
}
.main_center p{
	font-size: 13px;
	color: #1f2528;
	margin-left: 14px;
}
.frame{
	width: 136px;
	height: 127px;
	border-radius: 7px;
	background-color: #fff;
	border: solid 1px #a4aeb1;
}
.main_center figure{
	margin: 5px 0px 0px 29px;
}

.Nokian{
	margin: 0px 30px 0px 29px;
}
.Nokian figure{
	margin-left: 33px;
}
.Nokian h3{
	margin-left: 45px;
}
.Nokian p{
	margin-left: 24px;
}
.Nokian .price p{
	margin-left: 12px;
}

.Hankook h3{
	margin-left: 39px;
}
.Hankook p{
	margin-left: 11px;
}

.second_line{
	margin: 45px 0px 46px 0px;
}

/*MAIN RIGHT*/

.main_right{
	width: 25%;
	padding-left: 9px;
}
.main_right .tires{
	margin: 2px 0px 0px 12px;
}
.container_r{
	border-radius: 11px/13px;
	border: solid 1px #79878d;
	padding: 1px 57px 2px 0px;
	display: inline-flex;
}

.main_right .container{
	padding-right: 57px;
}
.catalog2{
	display: inline-flex;
	font-size: 12px;
	color: #114165;
	border-radius: 12px/12px 12px 13px 13px;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border: solid 1px #79878d;
	width: 173px;
	height: 20px;
	margin-bottom: 12px;
	padding: 3px 2px;
}
.catalog2 p{
	padding: 4px 0px 0px 5px;
	font-size: 14px;
}
.main_right form{
	position: relative;
	margin: 5px 0px 0px 6px;
}
.main_right form p{
	font-size: 13px;
	line-height: 1.95;
	padding-left: 29px;
}
#tire1,
#tire2,
#tire3,
#rim1,
#rim2,
#rim3 {
	position: absolute;
	left: 0px;
	width: 11px;
}

.rims{
	margin: 7px 0px 0px 12px;
}
button{
	margin: 14px 0px 0px 22px;
	padding: 5px 9px 6px 11px;
	font-family: Arial;
	font-size: 11px;
	text-transform: uppercase;
	color: #e5e9ea;
	border-radius: 10px/11px;
	background-color: #000;
	border: solid 1px #a7abae;
	background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
	letter-spacing: 1px;
	box-shadow: 6px 7px 7px -4px rgba(0,0,0,0.52);
}



/*BRANDS*/
.brands_logo{
	display: inline-flex;
	margin: 39px 0px 22px 116px;
	
}
.brands_logo img{
	width: 100%;
	height: 100%;
}
.brands_logo a{
	margin-right: 13.5px;
	padding-top: 4px;
}
#factory{
	margin-top: -4px;
	margin-right: 12px;
}
footer{
	width: 908px;
	height: 99px;
	background-color: #213a4d;
	border: solid 1px #242a3c;
}
footer ul{
	display: inline-flex;
	padding: 8px 5px 0px 297px;
}
footer a{
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	letter-spacing: 0.5px;
	padding: 0px 10px 0px 10px;
}
footer a:hover{
	color: #52abcb;
}
.delivery{
	padding: 0px 10px 0px 13px;
}
.articles{
	padding: 0px 10px 0px 13px;
}
.contacts{
	padding: 0px 2px 0px 16px;
	border: none;
}
footer p{
	margin-top: 15px;
	font-family: Arial;
	font-size: 10px;
	color: #7f4740;
	text-align: center;
}